:root {
  --midnight-violet: #190b28;
  --taupe-grey: #685762;
  --princeton-orange: #ff8811;
  --lavender-blush: #eee5e9;
  --amethyst: #9c489a;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--midnight-violet);
  color: var(--lavender-blush);
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: fit-content(100%) auto;
  gap: 0.5rem;
}

h1,
h3,
h5 {
  margin: 0;
  color: var(--princeton-orange);
  filter: drop-shadow(10px 6px 20px var(--princeton-orange));
}

.main-navbar-link {
  text-decoration: none;
  color: var(--lavender-blush);
}

.main-navbar-link:hover {
  color: var(--lavender-blush);
}

header {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-navbar {
  background-color: var(--taupe-grey);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  height: 100%;
  margin: 0;
}

.main-navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main-navbar-item {
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.main-navbar-item.active {
  background-color: var(--princeton-orange);
  color: var(--lavender-blush);
}

.main-navbar-item:hover {
  background-color: var(--amethyst);
  color: var(--lavender-blush);
}

main {
  padding: 1rem;
}
