:root {
  --midnight-violet: #190b28;
  --taupe-grey: #685762;
  --princeton-orange: #ff8811;
  --lavender-blush: #eee5e9;
  --amethyst: #9c489a;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--midnight-violet);
  color: var(--lavender-blush);
}
body,
html {
  margin: 0;
  padding: 0;
  height: auto;
}

.main-navbar-container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#root {
  width: 100vw;
  height: fit-content;
  text-align: center;
  display: grid;
  grid-template-rows: fit-content(100%) auto;
  gap: 0.5rem;
  position: absolute;
  top: 0;
}

h1,
h3,
h5 {
  margin: 0;
  color: var(--princeton-orange);
  filter: drop-shadow(10px 6px 20px var(--princeton-orange));
}

h2,
h4,
h6 {
  margin: 0;
  color: var(--amethyst);
  filter: drop-shadow(10px 6px 15px var(--amethyst));
}

.main-navbar {
  background-color: var(--taupe-grey);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  height: 100%;
  margin: 0;
  position: sticky;
  top: 0;
}

.main-navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  justify-content: center;
}

.main-navbar-item {
  display: flex;
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--lavender-blush);
  text-decoration: none;
  transition: all 0.3s;
}

.main-navbar-item.active {
  background-color: var(--princeton-orange);
  color: var(--lavender-blush);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
  scale: 1.1;
  margin: 0 0.5rem;
}

.main-navbar-item:hover {
  background-color: var(--amethyst);
  color: var(--lavender-blush);
  transition: all 0.3s;
  scale: 1.1;
}

.main-navbar-item.active:hover {
  transition: all 0.3s;
  scale: 1.15;
}

main {
  padding: 1rem;
}

.filter-sidebar-container {
  background-color: var(--midnight-violet);
  padding: 1rem;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 0px 0px 10px rgba(255, 53, 3, 0.849);
  border: #ff8811 2px solid;
  gap: 0.5rem;
  min-width: 150px;
}

.filter-sidebar-close {
  transform: translateX(-100%);
  overflow: hidden;
  transition: transform 0.3s ease-out, visibility 0.3s;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.filter-sidebar-open {
  display: block;
  align-items: center;
  transform: translateX(0%);
  transition: transform 0.3s ease-out, visibility 0.3s;
  position: sticky;
}

.filter-sidebar-title {
  margin-bottom: 1rem;
}
.filter-sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.filter-sidebar-item {
  margin-bottom: 0.5rem;
  align-self: flex-start;
}
.filter-sidebar-item label {
  cursor: pointer;
  user-select: none;
  align-self: start;
}
.filter-sidebar-checkbox {
  margin-right: 0.5rem;
}

.game-catalog-container {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 1rem;
}

.catalog-no-sidebar {
  grid-template-columns: 1fr;
}

.game-catalog-title {
  grid-column: span 2;
  margin-bottom: 1rem;
}

.game-list-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.game-list-header {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  padding: 0.5rem;
}

.game-list-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 0.5rem;
}

.gameCard-container {
}
